In [20]:
import pyspark
from pyspark.sql.functions import *

In [2]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

23/03/08 13:50:16 WARN Utils: Your hostname, Js-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.3.143 instead (on interface en0)
23/03/08 13:50:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/08 13:50:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Create a Spark DataFrame that contains your favorite programming languages.

* The name of the column should be language
* View the schema of the dataframe
* Output the shape of the dataframe
* Show the first 5 records in the dataframe

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Create a SparkSession
spark = SparkSession.builder.appName("ProgrammingLanguages").getOrCreate()

# Define the schema for the DataFrame
schema = StructType([
    StructField("language", StringType(), True),
    StructField("rank", IntegerType(), True)
])

# Create the DataFrame
data = [("Python", 1),
        ("SQL", 2),
        ("Java", 3),
        ("C++", 4),
        ("C#", 5)]

df = spark.createDataFrame(data, schema)

# Print the DataFrame
df.show()

+--------+----+
|language|rank|
+--------+----+
|  Python|   1|
|     SQL|   2|
|    Java|   3|
|     C++|   4|
|      C#|   5|
+--------+----+

# Load the mpg dataset as a spark dataframe.

* Create 1 column of output that contains a message like the one below:


The 1999 audi a4 has a 4 cylinder engine.
* For each vehicle.

* Transform the trans column so that it only contains either manual or auto.

In [11]:
from pydataset import data

mpg = spark.createDataFrame(data("mpg"))

mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [48]:
mpg_alias = mpg.alias("mpg")

mpg_alias.select(
    concat(
        lit("The "),
        expr('year'),
        lit(' '),
        expr('manufacturer'),
        lit(' '),
        col("mpg.model"),
        lit(' has a '),
        col("mpg.cyl"),
    lit(" cylinder engine")).alias('String')).show(truncate=False)

+-------------------------------------------------------------+
|String                                                       |
+-------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine                     |
|The 1999 audi a4 has a 4 cylinder engine                     |
|The 2008 audi a4 has a 4 cylinder engine                     |
|The 2008 audi a4 has a 4 cylinder engine                     |
|The 1999 audi a4 has a 6 cylinder engine                     |
|The 1999 audi a4 has a 6 cylinder engine                     |
|The 2008 audi a4 has a 6 cylinder engine                     |
|The 1999 audi a4 quattro has a 4 cylinder engine             |
|The 1999 audi a4 quattro has a 4 cylinder engine             |
|The 2008 audi a4 quattro has a 4 cylinder engine             |
|The 2008 audi a4 quattro has a 4 cylinder engine             |
|The 1999 audi a4 quattro has a 6 cylinder engine             |
|The 1999 audi a4 quattro has a 6 cylinder engine             |
|The 2008 audi a4 quattro has a 6 cylinder engine             |
|The 2008 audi a4 quattro has a 6 cylinder engine             |
|The 1999 audi a6 quattro has a 6 cylinder engine             |
|The 2008 audi a6 quattro has a 6 cylinder engine             |
|The 2008 audi a6 quattro has a 8 cylinder engine             |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine|
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine|
+-------------------------------------------------------------+
only showing top 20 rows

In [67]:
from pyspark.sql.functions import regexp_extract

# create dataframe
mpg = spark.createDataFrame(data("mpg"))

# create new column with "manual" and "auto" observations
mpg.select(regexp_extract(mpg["trans"], "(manual|auto)", 1).alias("new_text")).show()

+--------+
|new_text|
+--------+
|    auto|
|  manual|
|  manual|
|    auto|
|    auto|
|  manual|
|    auto|
|  manual|
|    auto|
|  manual|
|    auto|
|    auto|
|  manual|
|    auto|
|  manual|
|    auto|
|    auto|
|    auto|
|    auto|
|    auto|
+--------+
only showing top 20 rows

In [68]:
tips = spark.createDataFrame(data("tips"))

In [69]:
tips.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [96]:
(tips.withColumn(
    "smoker", 
    when(col("smoker"
            ) == "yes", 1).otherwise(0)))

DataFrame[total_bill: double, tip: double, sex: string, smoker: int, day: string, time: string, size: bigint]